body {
    margin: 7%;
    margin-bottom: 2%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
      to left,
      rgba(0,0,0) 0%,
    );
    text-align: center;
  }
  
  .app-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 46px;
    color: black;
  }